<blockquote>
  <h4>IPTU</h4>
  <h5>Boletim de Inscrição Cadastral</h5>
</blockquote>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input autocomplete="off" type="text" name="nome" id="nome" class="autocomplete">
        <label for="nome">Insira um nome</label>
        <span class="helper-text" data-error="wrong" data-success="right">Nome do contribuinte/proprietário</span>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input autocomplete="off" type="text" name="nome" id="phone" class="autocomplete">
        <label for="phone">Insira um telefone</label>
        <span class="helper-text" data-error="wrong" data-success="right">Telefone do contribuinte/proprietário</span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">home</i>
        <input autocomplete="off" type="text" name="nome" id="endereco" class="autocomplete">
        <label for="endereco">Insira um endereço</label>
        <span class="helper-text" data-error="wrong" data-success="right">Endereço do contribuinte</span>
      </div>
    </div>
  </div>



<!-- Materialize collapsible doesnt works-->
  <!-- <ul class="collapsible popout">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul> -->
