
<div class="row navbar-fixed">

  <nav class="nav-extended">
    <div class="col s12 nav-wrapper">
      <a href="#!" class="brand-logo">SGA<i class="material-icons md-48">home</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a>A link</a></li>
        <li><a>A second link</a></li>
        <li><a>A third link</a></li>
      </ul>

      <div class="col s12 nav-content">
        <span class="nav-title">SMTSIS</span>
        <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal">
          <i class="material-icons">info</i>
        </a>
      </div>


    </div>
  </nav>
</div>

  <!-- <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div> -->
