
<div class="row navbar-fixed">

  <nav class="nav-extended red darken-1">
    <div class="col s12 nav-wrapper">
      <a routerLink="" class="brand-logo">SGA<i class="material-icons md-48">home</i></a>
      <ul class="right">
        <li><a>A link</a></li>
        <li><a>A second link</a></li>
        <li><a>A third link</a></li>
      </ul>

      <div class="col s12 nav-content">
        <span class="nav-title">SMTSIS</span>
      </div>




      <!-- <div style="position: relative; height: 70px;"> -->
      <div class="fixed-action-btn toolbar fab-btn-menu">
        <a class="btn-floating btn-large transparent">
          <i class="large material-icons">menu</i>
        </a>
        <ul>
          <li><a class="btn red"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn yellow darken-1"><i class="material-icons">format_quote</i></a></li>
          <li><a class="btn green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
      </div>
      <!-- </div> -->


    </div>
  </nav>
</div>


<!-- /\ Este botão chama o side-navbar \/ -->
<div class="fixed-action-btn">
  <a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="material-icons medium">
      input
    </i>
  </a>
</div>
<!-- sidenav menu -->
<app-navbar-lateral></app-navbar-lateral>
