<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="material-icons md-24">home</i>Identificação do imóvel</div>
    <div class="collapsible-body">

      <blockquote><h5>Identificação do imóvel</h5></blockquote>

      <div class="row">
        <div class="input-field col s3">
          <i class="material-icons prefix">code</i>
          <input autocomplete="off" type="text" name="nome" disabled id="sequencial" class="autocomplete">
          <label for="sequencial">Sequencial</label>
          <span class="helper-text" data-error="wrong" data-success="right"> O número sequencial do imóvel será inserido aqui</span>
        </div>


        <div class="input-field col s3">
          <i class="material-icons prefix">home</i>
          <input autocomplete="off" type="text" name="nome" id="loteamento" class="autocomplete">
          <label for="loteamento">Loteamento</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira o loteamento do imóvel</span>
        </div>

        <div class="input-field col s3 offset-s1">
          <form action="#">
            <label for="natureza">Natureza do imóvel:</label>
            <p>
              <label>
                <input name="natureza" id="natureza" type="radio" />
                <span>
                  <i class="material-icons ">home</i>
                  Predial
                </span>
              </label>
              <label style="margin-left: 10px">
                <input name="natureza" id="natureza" type="radio" />
                <span>
                  <i class="material-icons">terrain</i>
                  Territorial
                </span>
              </label>
            </p>
            <span class="helper-text" data-error="wrong" data-success="right">Selecione uma natureza para o tipo de cadastro</span>
          </form>
        </div>

      </div>

      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input autocomplete="off" type="text" name="nome" id="nome" class="autocomplete">
          <label for="nome">Nome</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira o nome do contribuinte/proprietário</span>
        </div>


        <div class="input-field col s6">
          <i class="material-icons prefix">format_list_numbered</i>
          <input autocomplete="off" type="text" name="nome" id="inscricao" class="autocomplete">
          <label for="inscricao">Inscrição</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a inscrição do imóvel</span>
        </div>

      </div>

    </div>
  </li>


  <li>
    <div class="collapsible-header"><i class="material-icons md-24">zoom_out_map</i>Dimensões da unidade</div>
    <div class="collapsible-body">


      <blockquote>
        <h5>Dimensões da unidade</h5>
      </blockquote>

      <div class="row">

        <div class="input-field col s3">
          <i class="material-icons prefix">open_with</i>
          <input autocomplete="off" type="number" name="nome" id="areaterreno" class="autocomplete">
          <label for="areaterreno">Área do terreno</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a área do terreno em m²</span>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">open_with</i>
          <input autocomplete="off" type="number" name="nome" id="areaunidade" class="autocomplete">
          <label for="areaunidade">Área da unidade</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a área da unidade em m²</span>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">open_with</i>
          <input autocomplete="off" type="number" name="nome" id="areaconstruida" class="autocomplete">
          <label for="areaconstruida">Área construída</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a área total construída em m²</span>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">swap_horiz</i>
          <input autocomplete="off" type="number" name="nome" id="testadaprincipal" class="autocomplete">
          <label for="testadaprincipal">Testada principal</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a testada principal</span>
        </div>

        <div class="input-field col s3">
          <i class="material-icons prefix">import_export</i>
          <input autocomplete="off" type="number" name="nome" id="profundidadeprincipal" class="autocomplete">
          <label for="profundidadeprincipal">Profundidade principal</label>
          <span class="helper-text" data-error="wrong" data-success="right">Insira a profundidade principal</span>
        </div>
      </div>

    </div>
  </li>


  <li>
    <div class="collapsible-header"><i class="material-icons">info</i>Informações da edificação</div>
    <div class="collapsible-body">

      <blockquote >
        <h5>Informações da edificação</h5>
      </blockquote>

      <div class="row">
        <div class="col s4">
          <blockquote>
            <h6>Tipo de imóvel</h6>
          </blockquote>
          <select class="">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Apartamento</option>
            <option value="2">Edifío Comercial</option>
            <option value="3">Casa Isolada</option>
            <option value="4">Casa Germinada 1-L</option>
            <option value="5">Casa Germinada 2-L</option>
            <option value="6">Loja/Galeria/Shopping</option>
            <option value="7">Clube Cinema</option>
            <option value="8">Ginásio</option>
            <option value="9">edificação Especial</option>
            <option value="10">Educação</option>
            <option value="11">Templo</option>
            <option value="12">Garagem Depósito</option>
            <option value="13">Hotel/Pousada/Motel</option>
            <option value="14">Galpão</option>
            <option value="15">Indústrial/Fabrica</option>
            <option value="16">Clínica/Hospital</option>
            <option value="17">Substação</option>
            <option value="18">Posto De Combustível</option>
            <option value="19">Instituição Financeira</option>
            <option value="20">Telheiro/Edificação Precária</option>
            <option value="21">Construção</option>
            <option value="22">Terreno</option>
            <option value="23">Outros</option>

          </select>
        </div>

        <div class="col s4">
          <blockquote>
            <h6>Utilização de imóvel</h6>
          </blockquote>
          <select class="">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Residencial</option>
            <option value="2">Industrial</option>
            <option value="3">Mista</option>
            <option value="4">Comercial</option>
            <option value="5">Hospital</option>
            <option value="6">Entrada Pública</option>
            <option value="7">Prestação De Serviço</option>
            <option value="8">Educação</option>
            <option value="9">Outros</option>

          </select>
        </div>

        <div class="col s4">
          <blockquote>
            <h6>Estado de conservação</h6>
          </blockquote>

          <select class="">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Ótimo</option>
            <option value="2">Bom</option>
            <option value="3">Regular</option>
            <option value="3">Outros</option>

          </select>
        </div>
      </div>

      <div class="row">


        <div class="col s4">
          <blockquote>
            <h6>Padrão de qualidade</h6>
          </blockquote>

          <select class="">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Ótimo</option>
            <option value="2">Bom</option>
            <option value="3">Regular</option>
            <option value="4">Outros</option>

          </select>
        </div>

        <div class="col s4">
          <blockquote>
            <h6>Estrutura</h6>
          </blockquote>

          <select class="">
            <option value="" disabled selected>Selecione</option>
            <option value="1">Concreto</option>
            <option value="2">Madeira</option>
            <option value="3">Mista</option>
            <option value="4">Metálica</option>
            <option value="5">Taipa</option>
            <option value="6">Alvenaria</option>
            <option value="7">Outros</option>

          </select>

        </div>

      </div>

    </div>
  </li>


  <li>
    <div class="collapsible-header"><i class="material-icons">assignment_turned_in</i>Benfeitorias da unidade</div>
    <div class="collapsible-body">

      <blockquote>
        <h5>Benfeitorias da unidade</h5>
      </blockquote>

      <div class="row">
        <form class="input-field">

          <div class="input-field col s3 offset-s1">
            <p><label>
              <input type="checkbox" name="benfeitorias" class="filled-in"/>
              <span>
                <i class="fas fa-tint"></i>
                Água</span>
              </label></p>

              <p><label>
                <input type="checkbox" name="benfeitorias" class="filled-in" />
                <span>
                  <i class="material-icons">flash_on</i>
                  Energia</span>
                </label></p>
                <p><label>
                  <input type="checkbox" name="benfeitorias" class="filled-in" />
                  <span>
                    <i class="material-icons">delete_sweep</i>
                    Limpeza Urbana</span>
                  </label></p>
                </div>
                <div class="input-field col s3">
                  <p>  <label>

                    <input type="checkbox" name="benfeitorias" class="filled-in" />
                    <span>
                      <i class="fas fa-toilet"></i>
                      Esgoto</span>
                    </label></p>
                    <p><label>
                      <input type="checkbox" name="benfeitorias" class="filled-in" />
                      <span>
                        <i class="fas fa-dumpster"></i>
                        Coleta de lixo</span>
                      </label></p>
                      <p><label>
                        <input type="checkbox" name="benfeitorias" class="filled-in" />
                        <span>
                          <i class="fas fa-road"></i>
                          Pavimentação</span>

                      </label></p>
                    </div>
                    <div class="input-field col s3">
                      <p><label>
                        <input type="checkbox" name="benfeitorias" class="filled-in" />
                        <span>
                          <i class="material-icons">ring_volume</i>
                          Telefone</span>
                      </label></p>
                      <p><label>
                        <input type="checkbox" name="benfeitorias" class="filled-in" />
                        <span><i class="fas fa-kaaba">
                        </i>
                          Guias/Sarjetas</span>
                      </label></p>

                      <p>  <label>
                        <input type="checkbox" name="benfeitorias" class="filled-in" />
                        <span>
                          <i class="fas fa-cloud-showers-heavy"></i>
                          Aguas pluviais</span>
                        </label></p>
                      </div>
                    </form>
                  </div>

                </div>
              </li>

            </ul>
